<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/246ad237-af90-4214-b3be-f9a31bf89dd2/resourceGroups/micronabeta/providers/Microsoft.Web/sites/micronabeta</ResourceId>
    <ResourceGroup>micronabeta</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://micronabeta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>micronabeta.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>micronabeta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$micronabeta</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="microna2018Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=microna2018;User ID=azure;Password=6#vWHD_$" Name="server=localhost;user id=azure;password=6#vWHD_$;database=microna2018" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication4.Models.microna2018Entities, WebApplication4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="microna2018Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MicronaDB.csdl|res://*/Models.MicronaDB.ssdl|res://*/Models.MicronaDB.msl;provider=MySql.Data.MySqlClient;provider connection string="server=localhost;user id=azure;password=6#vWHD_$;database=microna2018"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>