@model WebApplication4.Models.TypeModel

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Editar</h4>
                </div>
                @using (Html.BeginForm("editarTipo", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control hidden" } })
                            @Html.EditorFor(model => model.id , new { htmlAttributes = new { @class = "form-control hidden" } })
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" id="submitForm">Guardar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>