@model WebApplication4.Models.usuario

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="~/Content/LoginContent/css/style.css" rel="stylesheet" />    
	<title>Sistema de Microna</title>	
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Iniciar Sesión </h2>            

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/Content/dist/img/Microna-logo-2.png" id="icon" alt="User Icon" />
    <!--                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
            </div>

            <!-- Login Form -->
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                <form>
                    <input type="text" id="login" class="fadeIn second" name="Usuario1" placeholder="Usuario" autocomplete="off">
                    <input type="password" id="password" class="fadeIn third pas" name="Contraseña" placeholder="Contraseña">
                    <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
                </form>
            }

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <div class="alert alert-primary" role="alert" hidden>
                    Contraseña o Usuario incorrectos
                </div>
            </div>

        </div>
    </div>
    <script src="~/Content/bower_components/jquery/dist/jquery.js"></script>
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>

    $(document).ready(function () {
        $("#msg").hide();
        $('#formLogin').on("submit", function (event) {
            event.preventDefault();
            var data1 = $("#formLogin").serialize();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Login","Home")",
                    data: data1,
                    success: function (result) {
                        if (result == "Fail") {
                            $("#formLogin")[0].reset();                            
                        }
                        else {
                            var current = window.location;
                            window.location.href = current + "/Home/Inicio";
                        }
                    }
                });
            });
        });
        function check(e) {
            tecla = (document.all) ? e.keyCode : e.which;

            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }

            // Patron de entrada, en este caso solo acepta numeros y letras
            patron = /[A-Za-z0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }
    </script>
</body>
</html>